body {
  background-color: #333;
  color: #fff;
  font-family: 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 1rem 4rem;
}


label {
  display: block;
  margin-bottom: .5rem;
}

input[type="number"],
input[type="text"],
select {
  min-width: 200px;
  padding: 3px 5px;
  margin-bottom: 1rem;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  padding: .5rem 1rem;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #999;
  padding: .5rem;
  min-width: 120px;
}

td.align-right {
  text-align: right;
}
